/* --------------- Header ------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #444;
    height: 100px;
    width: 100%;
    margin: 0 auto;
}

nav {
    width: 960px;
    margin: 0px auto;
}

header {
    float: left;
    margin-top: 15px;
    margin-right: 30px;
}

header ul li {
    display: inline-block;
    margin-top: 40px;
    margin-right: 75px;
  }
  

  a {
    text-decoration: none;
    color: #888;
  }
  
  
/* --------------- Main Section ------------------*/
  main {
    width: 960px;
    margin: 30px auto;
  }
  
  div:first-child {
    margin: auto;
    width: 960px;
    margin-top: 30px;
}

section {
    margin: 30px auto;
    width: 1080px;
}


article {
    float: right;
    width: 300px;
    height: 360px;
    margin-right: 50px;
    overflow: auto;
}

h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

p {
    line-height: 1.5rem;
}

button {
    position: absolute;
    bottom: -689px;
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 18px;
    height: 40px;
    width: 130px;
  
}

button:hover {
    transition-delay: 350ms;
    background-color: gray;
}

/* --------------- Footer ------------------*/

footer {
    height: 150px;
      background: rgb(68, 68, 68);
      width: 100%;
      /* position: fixed; */

  }